.title-head {
    background-color: #5096bd8d;
    margin: 0.75rem -0.75rem;
    padding-left: 0.75rem;
}

.title-con {
    background-color: #5096bd5d;
}

.profile {
    margin-top: 9rem;
    padding: 2rem 10rem 2rem;
}

.account {
    margin-bottom: 3rem;
}

.profile {
    margin-top: 8rem;
}
