hr {
    margin: 2.4rem 0;
}

.registration {
    margin: 1rem 0rem 1.5rem;
}

.checkbox {
    font-size: 1.2rem;
    margin: 10px;
}

.line:first-of-type {
    margin-top: 1.5rem;
}

figure {
    background-color: #d4d4d4;
}

.image {
    margin: 0 auto;
}
