html {
    background-color: #fff0;
}

body {
    background-image: url(../picture/wallpaper.jpg);
    height: 100%;
}

h1, h2, p {
    text-shadow: 1px 1px black;
}

h1 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
}

.container {
    background-color: #5096bd7d;
    max-width: 950px;
    padding: 2rem 5rem 2rem;
}

.need {
    margin:1.5rem 0;
}

.need:first-of-type{
    margin-top:0;
}

.button {
    display: block;
    margin: auto;
}
