<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>{{#if meta.title }}{{ meta.title }} | {{/if}}My Blog</title>
		{{#if meta.description }}
			<meta name="description" content="{{ meta.description }}" />
		{{/if}}
		{{#if meta.keywords }}
			<meta name="keywords" content="{{ listToString meta.keywords }}" />
		{{/if}}

		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="/assets/bundle.css">
		<script src="/assets/bundle.js" defer></script>
	</head>
	<body>
		{{> header }}
		{{{ body }}}
		{{> footer }}
	</body>
</html>
