.content {
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .box {
    float: left;
    height: 100px;

    &.b2 {
      width: 50%;
    }

    &.b3 {
      width: calc(100% / 3);
    }

    &.green {
      background-color: green;
    }

    &.blue {
      background-color: blue;
    }

    &.black {
      background-color: black;
    }

    &.yellow {
      background-color: yellow;
    }

    &.red {
      background-color: red;
    }
  }
}