<div class="aboveTheFold" {{#if imageUrl }}style="background-image: url('{{ imageUrl }}');"{{/if}}>
	<div class="aboveTheFold_content">
		{{{ content }}}
	</div>
	<div class="aboveTheFold_overlay"></div>
</div>
