<a class="postCard" href="/posts/{{ model.postGroup }}">
	<h2 class="postCard_title">{{ model.title }}</h2>
	<p class="postCard_description">{{ model.description }}</p>
	<span class="postCard_cta">Check out the posts</span>
</a>