<footer class="footer clearfix">
	<div class="container">
		<ul class="footer_links threeInARow">
			<li>
				<a href="/link1">Lorem ipsum</a>
			</li>
			<li>
				<a href="/link1">Dolor</a>
			</li>
			<li>
				<a href="/link1">Sit amet sum</a>
			</li>
			<li>
				<a href="/link1">Nulla non enim metus</a>
			</li>
			<li>
				<a href="/link1">Dolor sit</a>
			</li>
		</ul>
		<ul class="footer_links threeInARow">
			<li>
				<a href="/link1">Ultrices blandit</a>
			</li>
			<li>
				<a href="/link1">Sodales est</a>
			</li>
			<li>
				<a href="/link1">Hendrerit</a>
			</li>
		</ul>
		<div class="threeInARow">
			<div class="footer_social">
				<a href="https://www.twitter.com" target="_blank">
					<img src="/assets/images/twitter.svg" alt="Twitter logo">
				</a>
				<a href="https://www.facebook.com" target="_blank">
					<img src="/assets/images/facebook.svg" alt="Facebook logo">
				</a>
				<a href="https://www.instagram.com" target="_blank">
					<img src="/assets/images/instagram.svg" alt="Instagram logo">
				</a>
			</div>
			<div class="footer_apps">
				<a href="https://play.google.com" target="_blank">
					<img src="/assets/images/google-play.svg" alt="Google Play logo">
				</a>
				<a href="https://itunes.apple.com" target="_blank">
					<img src="/assets/images/app-store.svg" alt="App Store logo">
				</a>
			</div>
			<p>© 2018 Coding in the Rain, Inc.</p>
		</div>
	</div>
</footer>