<header class="header">
	<a class="header_logo" href="/">
		<img src="/assets/images/logo.svg" alt="Site logo">
	</a>
	<div class="header_icon header_icon-burger">
		{{{ getIcon 'burger' }}}
	</div>
	<div class="header_icon header_icon-close hiddenSm">
		{{{ getIcon 'close' }}}
	</div>

	<ul class="header_links hiddenSm">
		<li>
			<a href="/link1">Lorem ipsum</a>
		</li>
		<li>
			<a href="/link1">Dolor</a>
		</li>
		<li>
			<a href="/link1">Sit amet sum</a>
		</li>
		<li>
			<a href="/link1">Exodus</a>
		</li>
	</ul>
</header>
