h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1rem;
	text-align: center;
}

.content-box {
	border: 1px solid #00d1b2;
	border-radius: 4px;
	margin-left: 1rem;
	margin-top: 10rem;
	margin-right: 1rem;
	padding: 1rem;
}

.content-box::after {
	clear: both;
	content: '';
	display: table;
}

.content-box .link {
	float: right;
	margin-top: 1rem;
}

@media screen and (min-width: 769px) {
	.content-box {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}