<main class="home container">
	<div class="aboveTheFold">
		<h1>Lorem ipsum dolor sit amet</h1>
		<div class="aboveTheFold_overlay"></div>


		<video class="aboveTheFold_video" autoplay muted loop>
			<source src="/assets/videos/home-hero.mp4" type="video/mp4">
			<source src="/assets/videos/home-hero.webm" type="video/webm; codecs=vp8,vorbis">
		</video>
	</div>
</main>